<fieldset>
	<div class="col-xs-3 ">
    <%= f.text_field :option, :class => "form-control", id: "ex5", placeholder: "option" %> 
	</div>
 	<%= link_to '#', class: 'btn btn-default remove_fields' do %>
		<span class="glyphicon glyphicon-remove-circle"></span>
	<% end %>
</fieldset>
